#heading{
    text-align: center;
    font-size: 10em;
    font-family: 'cabin sketch', cursive;
    color: black;
}
 
#text{
    color: black;
    font-size: 23px;
    font-family: 'cabin sketch', cursive;
}

